.table-dark {
  --bs-table-bg: #111827 !important;
}

body {
  font-weight: 500;
  background-color: #111827 !important;
  color: #fff;
  padding-top: 60px;
}

section {
  flex-basis: 600px;
}

.btn-primary {
  background-color: #4f46e5;
}

.btn-primary:hover {
  background-color: #6366f1;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
}

.no-arrow::after {
  display: none !important;
}
